<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="40-System.IO.Compression" version="1.0.0.2" targetFramework="net461" />
  <package id="40-System.IO.Compression.FileSystem" version="1.0.0.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.6.3" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net461" />
  <package id="System.Shim" version="1.0.0.1" targetFramework="net461" />
</packages>